/* ===================== FOOTER =====================*/

.footer-section {    
    background: #000034;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media only screen and (min-width: 768px) {
        padding-top: 113px;
        padding-bottom: 127px;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (min-width: 768px) {
        justify-content: center;
    }

}

.footer-logo-wrapper{
    margin-bottom: 30px;
}

.footer-logo-img{
    @media only screen and (max-width: 425px) {
        width: 100%;
        height: auto;
    }
}


.footer-logo-link {
    display: block;
    margin-bottom: 47px;
}

.quicklinks-section {
    margin-right: 30px;
    @media only screen and (min-width: 768px) {        
        margin-right: 159px;
    }
    @media only screen and (min-width: 1095px) {
        margin-left: 118px;
        margin-right: 159px;
    }
}


.footer-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.75;
    color: #9b9b9b;
    margin-bottom: 30px;
    @media only screen and (min-width: 768px) {
        width: 480px;
    }
}

.footer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.09;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-list-item {
    margin-bottom: 7px;
}

.footer-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    color: #9b9b9b;
}

/* ===================== /FOOTER =====================*/