h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 425px) {
  .container {
    width: 425px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media only screen and (min-width: 1095px) {
  .container {
    width: 1095px;
  }
}

/* ===================== COMPONENTS =====================*/
.section-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 1.5;
}

.section-title::after {
  display: block;
  content: "";
  height: 10px;
  background-image: url("../images/line.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 22px;
  margin-bottom: 22px;
}

.section-title-theme-dark {
  color: #000000;
}

.section-title-theme-light {
  color: #ffffff;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 30px;
  border-radius: 25px;
}

.btn-dark {
  background: #00003e;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-dark:hover,
.btn-dark:focus {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.btn-light {
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}

.btn-light:hover,
.btn-light:focus {
  background: #00003e;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.social-list {
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.social-link {
  background-color: #fff;
  color: #9694E7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: #dddada;
}

/* ===================== /COMPONENTS =====================*/
/* ===================== HEADER =====================*/
.header-section {
  background-color: rgba(255, 255, 255, 0.73);
  border-bottom: 1px solid #b9b9b9;
  -webkit-backdrop-filter: blur(15.5px);
          backdrop-filter: blur(15.5px);
  padding: 20px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.menu-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.menu-link:hover,
.menu-link:focus {
  color: rgba(0, 0, 0, 0.8);
}

.auth {
  display: flex;
  align-items: center;
  margin-left: 37px;
}
@media only screen and (max-width: 1095px) {
  .auth {
    display: none;
  }
}

.auth-btn {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  background: linear-gradient(91.24deg, #ffffff -151.39%, #00003e 39.72%, #00003e 60.99%, #00003e 80.28%, #ffffff 231.81%);
  border-radius: 20px;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 110px;
}

.auth-item:not(:last-child) {
  margin-right: 15px;
}

.menu-open-btn {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

/* ---Mobile menu--- */
.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    padding: 80px 40px 40px 40px;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .mobile-menu-container.is-open {
    transform: translateX(0);
  }
  .close-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-top: 28px;
    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--dark-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-color);
  }
  .mobile-active {
    color: var(--pressed-state-color);
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--pressed-state-color);
  }
  .mobile-menu-container .social-list {
    gap: 56px;
  }
}
/* ===================== /HEADER =====================*/
/* ===================== /HERO =====================*/
@media only screen and (max-width: 767px) {
  .hero-section .btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 14px 15px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: url("../images/hero/bg-hero.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.hero-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 130px;
  }
}
@media only screen and (min-width: 1095px) {
  .hero-container {
    padding-top: 128px;
    padding-bottom: 130px;
  }
}

.hero-left-wrapper {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .hero-left-wrapper {
    margin-bottom: 0;
  }
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1095px) {
  .hero-title {
    width: 584px;
    margin-top: 48px;
  }
}

.hero-title-blue {
  color: #11a2ea;
}

.hero-description {
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
  margin-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .hero-description {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1095px) {
  .hero-description {
    width: 484px;
  }
}

.hero-images {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .hero-images {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1095px) {
  .hero-images {
    width: 400px;
  }
}

.hero-image-first {
  margin-bottom: 9px;
}
@media only screen and (max-width: 767px) {
  .hero-image-first img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1094px) {
  .hero-image-first {
    display: none;
  }
}

@media only screen and (min-width: 1095px) {
  .hero-image-second {
    display: flex;
    gap: 9px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-image-second {
    display: none;
  }
}

.hero-image-item:first-child {
  margin-bottom: 16px;
}

.hero-btn-wrapper {
  display: flex;
  gap: 15px;
}

/* ===================== /HERO =====================*/
/* ===================== ABOUT =====================*/
.about-section {
  background-image: url("../images/about/bg-about.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 104px;
}

.about-suptitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media only screen and (min-width: 1095px) {
  .about-suptitle {
    margin-top: 21px;
  }
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .about-text {
    width: 444px;
  }
}

@media only screen and (max-width: 767px) {
  .about-image {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1094px) {
  .about-image img {
    width: 300px;
    height: auto;
  }
}

/* ===================== /ABOUT =====================*/
/* ===================== WHAT-IS =====================*/
.what-is-section {
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .what-is-section {
    background-image: url("../images/what-is/bg-what-is.png");
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 0;
  }
}

.what-is-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .what-is-left-wrapper {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1094px) {
  .what-is-left-wrapper img {
    width: 300px;
    height: auto;
  }
}
@media only screen and (min-width: 1095px) {
  .what-is-left-wrapper {
    margin-left: -12px;
  }
}

.what-is-suptitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #8958fe;
}

.what-is-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .what-is-description {
    width: 443px;
  }
}

.what-is-section .section-title::after {
  background-position: right;
}

/* ===================== /WHAT-IS =====================*/
/* ===================== SERVICES =====================*/
@media only screen and (min-width: 768px) {
  .services-contact-wrapper {
    background-image: url("../images/services/bg-serv-cont.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.services-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #03033E;
}
@media only screen and (min-width: 768px) {
  .services-section {
    padding-top: 127px;
    padding-bottom: 106px;
    background-color: transparent;
  }
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-text {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .services-text {
    width: 443px;
  }
}

.services-left-wrapper {
  position: relative;
}

.services-right-wrapper {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .services-right-wrapper {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1094px) {
  .services-right-wrapper .image-6 {
    width: 300px;
    height: auto;
  }
  .services-right-wrapper .ellipse-1 {
    display: none;
  }
}

.image-6 {
  position: relative;
  z-index: 10;
}

.services-section .section-title {
  position: relative;
  z-index: 100;
}

/* ===================== /SERVICES =====================*/
/* ===================== CONTACT =====================*/
.contacts-section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contacts-section .section-title::after {
  background-position: center;
}

.contacts-description {
  font-size: 14px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .contacts-description {
    width: 518px;
  }
}

/* ===================== /CONTACT =====================*/
/* ===================== FOOTER =====================*/
.footer-section {
  background: #000034;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .footer-section {
    padding-top: 113px;
    padding-bottom: 127px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    justify-content: center;
  }
}

.footer-logo-wrapper {
  margin-bottom: 30px;
}

@media only screen and (max-width: 425px) {
  .footer-logo-img {
    width: 100%;
    height: auto;
  }
}

.footer-logo-link {
  display: block;
  margin-bottom: 47px;
}

.quicklinks-section {
  margin-right: 30px;
}
@media only screen and (min-width: 768px) {
  .quicklinks-section {
    margin-right: 159px;
  }
}
@media only screen and (min-width: 1095px) {
  .quicklinks-section {
    margin-left: 118px;
    margin-right: 159px;
  }
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: #9b9b9b;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .footer-text {
    width: 480px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.09;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-list-item {
  margin-bottom: 7px;
}

.footer-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #9b9b9b;
}

/* ===================== /FOOTER =====================*//*# sourceMappingURL=styles.css.map */