body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===================== COMPONENTS =====================*/

.section-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 1.5;
}

.section-title::after {
  display: block;
  content: "";
  height: 10px;
  background-image: url("../images/line.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 22px;
  margin-bottom: 22px;
}

.section-title-theme-dark {
  color: #000000;
}

.section-title-theme-light {
  color: #ffffff;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 30px;
  border-radius: 25px;
}

.btn-dark {
  background: #00003e;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-dark:hover,
.btn-dark:focus {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.btn-light {
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}
.btn-light:hover,
.btn-light:focus {
  background: #00003e;
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* ===================== /COMPONENTS =====================*/

/* ===================== HEADER =====================*/
.header-section {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.73);
  border-bottom: 1px solid #b9b9b9;
  backdrop-filter: blur(15.5px);
}

.page-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 37px;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.authorization {
  display: flex;
  align-items: center;
}

.authorization-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background: linear-gradient(
    91.24deg,
    #ffffff -151.39%,
    #00003e 39.72%,
    #00003e 60.99%,
    #00003e 80.28%,
    #ffffff 231.81%
  );
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 110px;
}

.authorization-item:not(:last-child) {
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ===================== /HEADER =====================*/

/* ===================== /HERO =====================*/

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.hero-section {
}

.hero-title {
  width: 584px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  color: #000000;
  margin-top: 105px;
}

.hero-title-blue {
  color: #11a2ea;
}

.hero-description {
  width: 484px;
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
  margin-bottom: 22px;
}

.hero-images {
  width: 400px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 57px;
}

.hero-btn-wrapper {
  display: flex;
  gap: 15px;
}

/* ===================== /HERO =====================*/

/* ===================== ABOUT =====================*/

.about-section {
  background-image: url("../images/about-fon.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 125px;
  padding-bottom: 125px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-suptitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 24px;
  width: 400px;
}

/* ===================== /ABOUT =====================*/

/* ===================== WHAT-IS =====================*/

.what-is-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.what-is-suptitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #8958fe;
}

.what-is-description {
  font-size: 14px;
  line-height: 1.5;
  width: 443px;
  margin-bottom: 22px;
}

.what-is-section .section-title::after {
  background-position: right;
}

/* ===================== /WHAT-IS =====================*/

/* ===================== SERVICES =====================*/

.services-section {
  background-image: url("../images/services-fon.png");
  background-repeat: no-repeat;
  background-position: top center;

  padding-top: 150px;
  padding-bottom: 150px;
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-text {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 24px;
  width: 443px;
}

.services-left-wrapper {
  position: relative;
}
.services-right-wrapper {
  position: relative;
}

.image-6 {
  position: relative;
  z-index: 10;
}

.ellipse-1 {
  z-index: 100;
  position: absolute;
  top: 272px;
  left: 358px;
  /* margin-top: -40px;
  margin-left: -50px; */
}

.ellipse-2 {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: -40px;
  margin-left: -50px;
}

.ellipse-3 {
  z-index: 1;
  position: absolute;
  top: -56px;
  left: 40px;
  /* margin-top: -40px;
  margin-left: -50px; */
}

.services-section .section-title {
  position: relative;
  z-index: 100;
}

.ellipse-4 {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: -30px;
  margin-left: -60px;
}

.ellipse-5 {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 60px;
  margin-left: -80px;
}

/* ===================== /SERVICES =====================*/

/* ===================== CONTACT =====================*/

.contacts-section {
  text-align: center;

  padding-bottom: 100px;
}

.contacts-section .section-title::after {
  background-position: center;
}

.contacts-description {
  font-size: 14px;
  line-height: 1.5;
  width: 518px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* ===================== /CONTACT =====================*/

/* ===================== FOOTER =====================*/

.footer-section {
  background: #000034;
  padding-top: 113px;
  padding-bottom: 127px;
}

.footer-container {
  display: flex;
}

.footer-logo-link {
  display: block;
  margin-bottom: 47px;
}

.quicklinks-section {
  margin-left: 118px;
  margin-right: 159px;
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: #9b9b9b;
}

.footer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.09;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-list-item {
  margin-bottom: 7px;
}

.footer-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #9b9b9b;
}

/* ===================== /FOOTER =====================*/
